<!DOCTYPE html>
<html ng-app="employeeApp">
    <head>
        <title>Employee List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="employeeController">
            <h2>Employee List</h2>
            <label>Search by Name:</label>
            <input type="text" ng-model="searchName">

            <label>Search by Salary:</label>
            <input type="number" ng-model="searchSalary">

            <table border="2">
                <tr>
                    <th> NAME </th>
                    <th> SALARY</th>
                </tr>

                <hr>
                    <tr ng-repeat="employee in employees | filter:{name:searchName, salary:searchSalary}">
                    <td>{{employee.name}}</td>
                    <td>{{employee.salary}}</td>
                    </tr>
                </hr>
            </table>

        </div>

        <script>
            var app = angular.module('employeeApp', []);

            app.controller('employeeController', function ($scope) {
                $scope.employees = [
                    { name: 'John Doe', salary: 50000 },
                    { name: 'Jane Smith', salary: 60000 },
                    { name: 'Bob Johnson', salary: 55000 },
                    { name: 'Alice Williams', salary: 70000 },
                    { name: 'Charlie Brown', salary: 48000 },
                    { name:'Chanakya', salary:75000},
                    { name:'Johny', salary:35000},
                    {name: 'Alisha Wilson',salary:25000},
                    {name: 'Bharath Jadhav',salary:65000},
                ];
            });
        </script>
    </body>
</html>