<!DOCTYPE html>
<html>
  <head>
    <title>Full Name Program</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="/home/ailab/Documents/ai043/styler.css">
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <h1>Full Name Program</h1>
      <input type="text" ng-model="firstName" placeholder="Enter First Name" />
      <input type="text" ng-model="lastName" placeholder="Enter Last Name" />
      <br /><br />
      Full Name: {{firstName + " " + lastName}}
    </div>

    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.firstName = "Virat";
        $scope.lastName = "Kohli";
      });
    </script>
  </body>
</html>
